<div *ngIf="forecastWeather() as forecast"
     class="hourly-weather-container relative text-gray-200 p-6 mx-auto w-full max-w-screen-2xl">

  <div class="hourly-weather-scroll flex overflow-x-auto px-4 bg-white border bg-opacity-20 rounded-lg">
    <div *ngFor="let hour of getDynamicForecast()"
         class="hourly-weather-item flex-shrink-0  rounded-lg p-6 w-32 text-center flex flex-col items-center">
      <p class="text-base sm:text-lg font-medium mb-2">
        {{ hour.label || (hour.dt_txt | date: 'HH:mm') }}
      </p>
      <img [src]="'https://openweathermap.org/img/wn/' + hour.weather[0].icon + '@2x.png'"
           alt="{{ hour.weather[0].description }}"
           class="w-16 h-16 mb-3">
      <p class="text-xl sm:text-2xl font-semibold mb-2">
        {{ hour.main.temp | number: '1.0-0' }}°
      </p>
      <p class="text-sm sm:text-base capitalize text-center leading-tight">
        {{ hour.weather[0].description }}
      </p>
    </div>
  </div>
</div>
