<div *ngIf="forecastWeather()" class="hourly-weather-container relative text-gray-200 mx-auto w-full max-w-full">

  <!-- Заголовок для почасового прогноза -->
  <h2 class="text-2xl font-bold text-center mb-4">Почасовой прогноз</h2>

  <div class="hourly-weather-scroll flex overflow-x-auto space-x-4 px-4 bg-white border bg-opacity-40 rounded-lg">
    <div *ngFor="let hour of getEnhancedForecast()"
         class="hourly-weather-item flex-shrink-0 rounded-lg p-4 w-28 text-center flex flex-col items-center sm:p-6 sm:w-36">
      <!-- Время -->
      <p class="font-medium mb-1 sm:text-xl sm:mb-2">
        {{ hour.label || (hour.dt_txt | date: 'HH:mm') }}
      </p>
      <!-- Иконка -->
      <img [src]="'https://openweathermap.org/img/wn/' + hour.weather[0].icon + '@2x.png'"
           alt="{{ hour.weather[0].description }}"
           class="w-12 h-12 mb-2 sm:w-16 sm:h-16 sm:mb-3">
      <!-- Температура -->
      <p class="text-lg font-semibold mb-1 sm:text-xl sm:mb-2">
        {{ hour.main.temp | number: '1.0-0' }}°
      </p>
      <!-- Описание -->
      <p class="text-sm first-letter:capitalize text-center leading-tight sm:text-lg">
        {{ hour.weather[0].description }}
      </p>
    </div>
  </div>

  <!-- Заголовок для прогноза по дням -->
  <h2 class="text-2xl font-bold text-center mt-6 mb-4">Прогноз по дням</h2>

  <div *ngIf="getDailyForecast().length" class="daily-weather-container relative text-gray-200 mx-auto w-full max-w-full">
    <div class="daily-weather-scroll flex overflow-x-auto space-x-4 px-4 bg-white border bg-opacity-40 rounded-lg">
      <div *ngFor="let day of getDailyForecast()"
           class="daily-weather-item flex-shrink-0 rounded-lg p-4 w-36 text-center flex flex-col items-center sm:p-6 sm:w-44">
        <!-- Дата или день недели -->
        <p class="font-medium mb-1 sm:text-xl sm:mb-2">
          {{ day.label }}
        </p>
        <!-- Иконка -->
        <img [src]="'https://openweathermap.org/img/wn/' + day.icon + '@2x.png'"
             alt="{{ day.description }}"
             class="w-12 h-12 mb-2 sm:w-16 sm:h-16 sm:mb-3">
        <!-- Описание -->
        <p class="text-sm first-letter:capitalize text-center leading-tight sm:text-lg">
          {{ day.description }}
        </p>
        <!-- Температура -->
        <p class="text-lg font-semibold mb-1 sm:text-xl sm:mb-2">
          {{ day.tempMin | number: '1.0-0' }}° / {{ day.tempMax | number: '1.0-0' }}°
        </p>
      </div>
    </div>
  </div>

</div>
