<div class="text-center mb-6">
  <input (keydown.enter)="fetchWeatherByCity()" [(ngModel)]="city" class="border mb-3 p-2 rounded w-full sm:w-64"
         placeholder="Введите название города"
         type="text"/>
  <button (click)="fetchWeatherByCity()" (keydown.enter)="fetchWeatherByCity()"
          class="sm:ml-4 bg-blue-500 w-full sm:w-44 text-white  px-4 py-2 rounded shadow hover:bg-blue-600 transition">
    Показать погоду
  </button>
</div>

<div *ngIf="currentWeather() as weather; else loadingOrError" @fade
     class="weather-container relative text-white text-shadow-lg overflow-hidden text-center p-6 rounded-lg shadow-md max-w-md mx-auto">

  <video autoplay class="absolute inset-0 w-full h-full object-cover -z-10" loop muted playsinline preload="auto">
    <source [src]="getWeatherVideo(weather.weather[0])" type="video/mp4">
    Ваш браузер не поддерживает видео.
  </video>

  <h1 class="city text-2xl font-bold">
    {{ weather.name }}
    <img *ngIf="weather.sys.country"
         [src]="'https://flagcdn.com/32x24/' + weather.sys.country.toLowerCase() + '.png'"
         alt="{{ weather.sys.country }}"
         class="inline w-6 h-4 ml-2">
  </h1>

  <div class="mb-3 grid grid-cols-1 gap-3">
    <p class="text-6xl font-semibold">{{ weather.main.temp | number: '1.0-0' }}°</p>
    <p class="text-md first-letter:capitalize ">{{ weather.weather[0].description }}</p>
    <p class="text-md ">По ощущениям как {{ weather.main.feels_like | number: '1.0-0' }}°</p>
  </div>


  <div class="flex items-center justify-around">
    <span>Макс. {{ dailyWeather()?.daily.temperature_2m_max?.[0] | number: '1.0-0' }}°</span>
    <span>Мин. {{ dailyWeather()?.daily.temperature_2m_min?.[0] | number: '1.0-0' }}°</span>
  </div>

  <div class="details mt-3 grid grid-cols-2 justify-between gap-2 text-left text-sm">
    <span>Ветер:</span><span class="text-right font-medium">{{ weather.wind.speed | number: '1.0-0' }} м/с</span>
    <span>Давление:</span><span class="text-right font-medium">{{ weather.main.pressure }} гПа</span>
    <span>Влажность:</span><span class="text-right font-medium">{{ weather.main.humidity }}%</span>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="loading()" class="loading text-gray-500 text-center">
    Загрузка данных...
  </div>
  <div *ngIf="!loading() && error()" class="error text-red-500 text-center">
    {{ error() }}
  </div>
</ng-template>

